.caixote {
    max-width: 1024px;
    margin: 20px auto;
    width: 90%;
    background-color:#ede4f2;
    box-shadow: 0px 0px 5px #776c6c;
    border-radius: 5px;
    padding: 5px 0px;
    justify-content: space-around;
    /* display: flex; */
    gap: 10px;
    margin-top: -3vh;

}
