* {
  background-color: #dadada;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', Sans-Serif;
}

h1 {
  color: #b559c5;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #282c34;
  }
}